@page
@model WoodStyleShop.Pages.CatalogModel
@using WoodStyleShop.Data.Models;
<link href="/css/Catalog.css" rel="stylesheet" type="text/css" />

  <section>
    <div class="container-xxl">
      <div class="row">
        <div class="col-3">
          <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu" data-bs-toggle="dropdown" aria-expanded="false">
              Фильтр
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </div>
        </div>
        <div class="col">
          <h3 style="text-align: center;">Catalog</h3>
        </div>
        <div class="col-3">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Введите название" aria-label="Имя получателя" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-primary" type="button">Поиск</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section>
    <div class="container-xxl">
      <div class="products">
            @{
                if (ViewData["Products"] is List<Product> products)
                {
                    for (int i = 0; i < 10; i++)
                    {
                    foreach (var product in products)
            {
        <div class="product">
          <div class="card" style="width: 19rem;">
            <img src="@product.img" class="card-img-top" alt="name">
            <div class="card-body">
              <h5 class="card-title">@product.name</h5>
              <p class="card-text">Цена: 500$</p>
              <a asp-page="/Product" class="btn btn-outline-primary"> Купить </a> 
              <a href="#" class="btn btn-outline-danger"><img src="/img/catalog_icons/heart.svg" /></a>
            </div>
          </div>
        </div>
            }
         }
       }
       }
      </div>
    </div>
  </section>
  
