@page

@{
}

<link href="~/css/profile.css" rel="stylesheet" type="text/css" />
<section>
    <div class="container-xxl">
      <div class="profile-form">
        <a href="#"><img src="/img/Profile_icons/pencil-square.svg"></a>
        <div class="row icon">
          <img src="/img/Profile_icons/Profile_icon.jpg" >
        </div>

        <div class="row">
          <div class="col-4">
            Name
          </div>
          <div class="col-8">
            Artem
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            Phone
          </div>
          <div class="col-8">
            0965189859
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            Email
          </div>
          <div class="col-8">
            Artem.anikin.2014@hotmail.com
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            Address
          </div>
          <div class="col-8">
            Ukrain
          </div>
        </div>
        
        <div class="row">
          <button type="button" class="btn btn-outline-danger">Выход</button>
        </div>

      </div>
    </div>
</section>