.name {
    text-align: center;
    font-family: serife;
}

.card {
    margin-top: 5;
    margin-left: 20%;
    height: 500px;
    width: 800px;
    background-color: white;
    border-radius: 20px;
    display: block;
    align-items: center;
}

.product_img {
    padding: 10px;
    width: min-content;
    float:left;
    height: 80%;
}

.content {
    width: 45%;
    margin-top:50px;
    height: auto;
    float:right;
    padding: 10px;
}

.prise {
    padding: 5px;
    width: max-content;
    float: left;
}
.buttons {
    float:right;
}