
.product-form {
    margin: auto;
    margin-top: 30px;
    height: auto;
    padding: 50px;
    width: 50%;
    border: 2px solid black;
    border-radius: 30px;
    background-color: white;
}

.product-info {
    text-align: center;
    padding: 20px;
}

.price {
    padding: 20px;
    color: orange;
}
