.form-group
{
    width: 300px;
}
.content
{
    display:block;
    margin-left:35%;
    margin-top: 100px;
    width:min-content;
}
.form-group
{
    padding:5px;
}
.buttons
{
    margin-left:35%;
}
